
/*
Get answer button disabled: #607AA0;
clear button disabled: #D0CDCD
clear button enabled: #DE4841;
*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  color: #2B4E80;
  font-family: 'Life Savers', cursive;
  font-size: 45px;
  padding: 3%;
  text-align: center;
}

.main-container {
  display: flex;
  justify-content: center;
}

.q-and-a-box {
  align-items: center;
  background-color: #E6ECF4;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 2%;
  width: 35%;
}

form {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* IMAGE SIZING */
.woody {
  width: 18%;
}

.eight-ball {
  margin: 10%;
  width: 25%;
}

input {
  border: none;
  color: #2B4E80;
  font-size: 15px;
  margin-top: 2%;
  outline: none;
  padding: 2%;
  text-align: center;
  width: 90%;
}

/* BUTTONS */
.get-answer-btn {
  background-color: #2B4E80;
  border: none;
  color: white;
  font-size: 18px;
  outline: none;
  margin-top: 2%;
  padding: 2%;
  text-align: center;
  width: 90%;
}

.get-answer-btn:hover {
  background-color: #1C3455;
  cursor: pointer;
}

.clear-btn {
  background-color: #D0CDCD;
  border: none;
  color: white;
  font-size: 18px;
  margin: 0 0 2% 80%;
  outline: none;
  padding: 2%;
  width: 12%;
}

.clear-btn:hover {
  cursor: pointer;
}

.active-clear-btn {
  background-color: #DE4841;
}

.user-card {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 35%;
  justify-content: center;
  margin: 10%;
  width: 90%;
}

.user-question {
  font-style: italic;
  font-size: 20px;
  margin-bottom: 1%;
}

.user-answer {
  font-weight: bold;
  font-size: 24px;
}

.hidden {
  display: none;
}
/*  */
